<!DOCTYPE html>
<html>
<head>
  <title>FullAndMountable</title>
  <%= stylesheet_link_tag    "full_and_mountable/application", :media => "all" %>
  <%= javascript_include_tag "full_and_mountable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
